## Financial stock datas using alpha vantage api

#### pip install MySQLdb

In [1]:
# import Dependencies
import pandas as pd
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup as bs
from datetime import datetime as dt
import requests
import json
import re
import datetime as dt
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [2]:
# Build query Url and List of Stocks ticker
# https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&outputsize=full&apikey=demo
api_url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol="
api_key = "Y5AE5LOO06SXQ60H"

# List of Stocks ticker
tickers = ["CFG","MS","CME","JPM","GS","PYPL","BRK.A","BRK.B","USB","IBKR","AXP"]

In [3]:
# create and initialize list 
df_list = []
stock_symbol = []
stock_daily_details = []
stock_data = []

In [4]:

import time

In [ ]:
for ticker in tickers:
    try:
        url = api_url + ticker + "&outputsize=full&apikey=" + api_key

        stock_details = requests.get(url).json()
        stock_symbol = stock_details["Meta Data"]["2. Symbol"]
        stock_daily_details = stock_details["Time Series (Daily)"]
#         print(stock_daily_details)

        # Save json data for each API call
        with open(f'static/assets/data/output_api_{ticker}.json', 'w') as outfile:
            json.dump(stock_daily_details, outfile)
            # As our api allow certain number of data to be pulled once so adding the sleep command
            time.sleep(30)

    # If an error is experienced, skip the ticker
    except:
        print("ticker not found. Skipping...")
        pass

### Reading the json file

In [ ]:
df_CFG_t = pd.read_json("static/assets/data/output_api_CFG.json")
df_MS_t = pd.read_json("static/assets/data/output_api_MS.json")
df_CME_t = pd.read_json("static/assets/data/output_api_CME.json")
df_JPM_t = pd.read_json("static/assets/data/output_api_JPM.json")
df_GS_t = pd.read_json("static/assets/data/output_api_GS.json")
df_PYPL_t = pd.read_json("static/assets/data/output_api_PYPL.json")
df_BRKA_t = pd.read_json("static/assets/data/output_api_BRK.A.json")
df_BRKB_t = pd.read_json("static/assets/data/output_api_BRK.B.json")
df_USB_t = pd.read_json("static/assets/data/output_api_USB.json")
df_IBKR_t = pd.read_json("static/assets/data/output_api_USB.json")
df_AXP_t = pd.read_json("static/assets/data/output_api_USB.json")

### Cleaning datas for Citizens Financial Group (ticker: CFG)Â

In [ ]:
df_CFG = df_CFG_t.transpose()

In [ ]:
# renaming a column
df_CFG = df_CFG.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend_amount','8. split coefficient': 'split coefficient'})

df_CFG.head()

In [ ]:
df_CFG_new = df_CFG[["open", "high", "low","close","adjusted_close","volume"]].copy()
df_CFG_new.head()

In [ ]:
# change type to float
df_CFG_new = df_CFG_new.astype(float)

In [ ]:
#  adding ticker column
df_CFG_new ['ticker']= 'CFG'

In [ ]:
#  adding ticker column
df_CFG_new ['company_name']= 'Citizens Financial Group'

In [ ]:
#reindexing 
df_CFG_new = df_CFG_new.reset_index()
df_CFG_new.head()

In [ ]:
# renaming a column
df_CFG_new = df_CFG_new.rename(columns={'index': 'dates'})

In [ ]:
df_CFG_new.count()

In [ ]:
# pd.to_datetime(df_CFG_new['dates']).apply(lambda x: x.date())

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

In [ ]:
df_CFG_new.to_sql(name='cfg_profile', con=engine, if_exists = 'append', index=False)

In [ ]:
pd.read_sql_query('select * from cfg_profile', con=engine).head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# ! pip install psycopg2

In [ ]:
# import psycopg2
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_CFG_new.to_sql(name='CFG_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
# #     con.execute ('DROP TABLE "CFG_stock";')
#     con.execute('ALTER TABLE "CFG_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "CFG_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "CFG_stock";',con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_CFG_new.to_csv('static/assets/csv/CFG_stock_details.csv',index = True, header = True)

### Cleaning datas for  Morgan Stanley (MS)

In [ ]:
# transposing the dataframe
df_MS = df_MS_t.transpose()

In [ ]:
# renaming a column
df_MS = df_MS.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_MS_new = df_MS[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_MS_new = df_MS_new.astype(float)
#  adding ticker column
df_MS_new ['ticker']= 'MS'
#  adding ticker column
df_MS_new ['company_name']= 'Morgan Stanley'

In [ ]:
df_MS_new = df_MS_new.reset_index()
# renaming a column
df_MS_new = df_MS_new.rename(columns={'index': 'dates'})

In [ ]:
df_MS_new.head()

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

In [ ]:
df_MS_new.to_sql(name='ms_profile', con=engine, if_exists = 'append', index=False)

In [ ]:
pd.read_sql_query('select * from ms_profile', con=engine).head()

### Connect to local database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_MS_new.to_sql(name='MS_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "MS_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "MS_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# df_MS = pd.read_sql_query('select * from "MS_stock"',con=engine)
# df_MS.head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_MS_new.to_csv('static/assets/csv/MS_stock_details.csv',index = True, header = True)

### Cleaning datas for CME Group (CME)

In [ ]:
# transposing the dataframe
df_CME = df_CME_t.transpose()

In [ ]:
# renaming a column
df_CME = df_CME.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_CME_new = df_CME[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_CME_new = df_CME_new.astype(float)
#  adding ticker column
df_CME_new ['ticker']= 'CME'
#  adding ticker column
df_CME_new ['company_name']= 'CME Group'

In [ ]:
df_CME_new = df_CME_new.reset_index()
# renaming a column
df_CME_new = df_CME_new.rename(columns={'index': 'dates'})

In [ ]:
df_CME_new.tail()

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

In [ ]:
df_CME_new.to_sql(name='cme_profile', con=engine, if_exists = 'append', index=False)

In [ ]:
pd.read_sql_query('select * from cme_profile', con=engine).head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_CME_new.to_sql(name='CME_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "CME_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "CME_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "CME_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_CME_new.to_csv('static/assets/csv/CME_stock_details.csv',index = True, header = True)

### Cleaning datas for  JPMorgan Chase & Co. (JPM)

In [ ]:
# transposing the dataframe
df_JPM = df_JPM_t.transpose()

In [ ]:
# renaming a column
df_JPM = df_JPM.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_JPM_new = df_JPM[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_JPM_new = df_JPM_new.astype(float)
#  adding ticker column
df_JPM_new ['ticker']= 'JPM'
#  adding ticker column
df_JPM_new ['company_name']= 'JPMorgan Chase & Co.'

In [ ]:
df_JPM_new = df_JPM_new.reset_index()
# renaming a column
df_JPM_new = df_JPM_new.rename(columns={'index': 'dates'})

In [ ]:
df_JPM_new.head()

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

In [ ]:
df_JPM_new.to_sql(name='jpm_profile', con=engine, if_exists = 'append', index=False)
pd.read_sql_query('select * from jpm_profile', con=engine).head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_JPM_new.to_sql(name='JPM_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "JPM_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "JPM_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "JPM_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_JPM_new.to_csv('static/assets/csv/JPM_stock_details.csv',index = True, header = True)

### Cleaning datas for  Goldman Sachs Group (GS)Â

In [ ]:
# transposing the dataframe
df_GS = df_GS_t.transpose()

In [ ]:
# renaming a column
df_GS = df_GS.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_GS_new = df_GS[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_GS_new = df_GS_new.astype(float)
#  adding ticker column
df_GS_new ['ticker']= 'GS'
#  adding ticker column
df_GS_new ['company_name']= 'Goldman Sachs Group'

In [ ]:
df_GS_new = df_GS_new.reset_index()
# renaming a column
df_GS_new = df_GS_new.rename(columns={'index': 'dates'})

In [ ]:
df_GS_new.head()

In [ ]:
df_GS_new.count()

In [ ]:
# Finally putting transformed dataframe to csv file
df_GS_new.to_csv('static/assets/csv/GS_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

In [ ]:
df_GS_new.to_sql(name='gs_profile', con=engine, if_exists = 'append', index=False)

In [ ]:
pd.read_sql_query('select * from gs_profile', con=engine).head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# import psycopg2
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_GS_new.to_sql(name='GS_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "GS_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "GS_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "GS_stock"', con=engine).head()

### Cleaning datas for  PayPal Holdings (PYPL)

In [ ]:
# transposing the dataframe
df_PYPL = df_PYPL_t.transpose()

In [ ]:
# renaming a column
df_PYPL = df_PYPL.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_PYPL_new = df_PYPL[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_PYPL_new = df_PYPL_new.astype(float)
#  adding ticker column
df_PYPL_new ['ticker']= 'PYPL'
#  adding ticker column
df_PYPL_new ['company_name']= 'PayPal Holdings'

In [ ]:
df_PYPL_new = df_PYPL_new.reset_index()
# renaming a column
df_PYPL_new = df_PYPL_new.rename(columns={'index': 'dates'})

In [ ]:
df_PYPL_new.head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# import psycopg2
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_PYPL_new.to_sql(name='PYPL_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "PYPL_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "PYPL_stock" ALTER COLUMN dates TYPE DATE;')

In [ ]:
# pd.read_sql_query('select * from "PYPL_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_PYPL_new.to_csv('static/assets/csv/PYPL_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

df_PYPL_new.to_sql(name='pypl_profile', con=engine, if_exists = 'append', index=False)

pd.read_sql_query('select * from pypl_profile', con=engine).head()

### Cleaning datas for  Berkshire Hathaway (BRK.A)Â

In [ ]:
# transposing the dataframe
df_BRKA = df_BRKA_t.transpose()

In [ ]:
# renaming a column
df_BRKA = df_BRKA.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_BRKA_new = df_BRKA[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_BRKA_new = df_BRKA_new.astype(float)
#  adding ticker column
df_BRKA_new ['ticker']= 'BRK.A'
#  adding ticker column
df_BRKA_new ['company_name']= 'Berkshire Hathaway(BRK.A)'

In [ ]:
df_BRKA_new = df_BRKA_new.reset_index()
# renaming a column
df_BRKA_new = df_BRKA_new.rename(columns={'index': 'dates'})

In [ ]:
df_BRKA_new.head()

In [ ]:
df_BRKA_new.count()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# import psycopg2
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_BRKA_new.to_sql(name='BRKA_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "BRKA_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "BRKA_stock" ALTER COLUMN dates TYPE DATE;')

In [ ]:
# df_BRKA = pd.read_sql_query('select * from "BRKA_stock"', con=engine)
# df_BRKA.head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_BRKA_new.to_csv('static/assets/csv/BRKA_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

df_BRKA_new.to_sql(name='brka_profile', con=engine, if_exists = 'append', index=False)

pd.read_sql_query('select * from brka_profile', con=engine).head()

### Cleaning datas for  Berkshire Hathaway (BRK.B)Â

In [ ]:
# transposing the dataframe
df_BRKB = df_BRKB_t.transpose()

In [ ]:
# renaming a column
df_BRKB = df_BRKB.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_BRKB_new = df_BRKB[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_BRKB_new = df_BRKB_new.astype(float)
#  adding ticker column
df_BRKB_new ['ticker']= 'BRK.B'
#  adding ticker column
df_BRKB_new ['company_name']= 'Berkshire Hathaway(BRK.B)'

In [ ]:
df_BRKB_new = df_BRKB_new.reset_index()
# renaming a column
df_BRKB_new = df_BRKB_new.rename(columns={'index': 'dates'})

In [ ]:
df_BRKB_new.head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_BRKB_new.to_sql(name='BRKB_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "BRKB_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "BRKB_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "BRKB_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_BRKB_new.to_csv('static/assets/csv/BRKB_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

df_BRKB_new.to_sql(name='brkb_profile', con=engine, if_exists = 'append', index=False)

pd.read_sql_query('select * from brkb_profile', con=engine).head()

### Cleaning datas for   U.S. Bancorp (USB)

In [ ]:
# transposing the dataframe
df_USB = df_USB_t.transpose()

In [ ]:
# renaming a column
df_USB = df_USB.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_USB_new = df_USB[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_USB_new = df_USB_new.astype(float)
#  adding ticker column
df_USB_new ['ticker']= 'USB'
#  adding ticker column
df_USB_new ['company_name']= 'U.S. Bancorp'

In [ ]:
df_USB_new = df_USB_new.reset_index()
# renaming a column
df_USB_new = df_USB_new.rename(columns={'index': 'dates'})

In [ ]:
df_USB_new.count()

In [ ]:
df_USB_new.head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_USB_new.to_sql(name='USB_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "USB_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "USB_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "USB_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_USB_new.to_csv('static/assets/csv/USB_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

df_USB_new.to_sql(name='usb_profile', con=engine, if_exists = 'append', index=False)

pd.read_sql_query('select * from usb_profile', con=engine).head()

### Cleaning datas for  Interactive Brokers (IBKR)

In [ ]:
# transposing the dataframe
df_IBKR = df_IBKR_t.transpose()

In [ ]:
# renaming a column
df_IBKR = df_IBKR.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_IBKR_new = df_IBKR[["open", "high", "low","close","adjusted_close","volume"]].copy()
# change type to float
df_IBKR_new = df_IBKR_new.astype(float)
#  adding ticker column
df_IBKR_new ['ticker']= 'IBKR'
#  adding ticker column
df_IBKR_new ['company_name']= 'Interactive Brokers'

In [ ]:
df_IBKR_new = df_IBKR_new.reset_index()
# renaming a column
df_IBKR_new = df_IBKR_new.rename(columns={'index': 'dates'})

In [ ]:
df_IBKR_new.count()

In [ ]:
df_IBKR_new.head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_IBKR_new.to_sql(name='IBKR_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "IBKR_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "IBKR_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "IBKR_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_IBKR_new.to_csv('static/assets/csv/IBKR_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

df_IBKR_new.to_sql(name='ibkr_profile', con=engine, if_exists = 'append', index=False)

pd.read_sql_query('select * from ibkr_profile', con=engine).head()

### Cleaning datas for American Express Co. (AXP)

In [ ]:
# transposing the dataframe
df_AXP = df_AXP_t.transpose()

In [ ]:
# renaming a column
df_AXP = df_AXP.rename(columns={'1. open': 'open','2. high': 'high','3. low': 'low','4. close': 'close',
                            '5. adjusted close': 'adjusted_close','6. volume': 'volume',
                            '7. dividend amount': 'dividend amount','8. split coefficient': 'split coefficient'})

df_AXP_new = df_AXP[["open", "high", "low","close","adjusted_close","volume",]].copy()
# change type to float
df_AXP_new = df_AXP_new.astype(float)
#  adding ticker column
df_AXP_new ['ticker']= 'AXP'
#  adding ticker column
df_AXP_new ['company_name']= 'American Express Co.'

In [ ]:
df_AXP_new = df_AXP_new.reset_index()
# renaming a column
df_AXP_new = df_AXP_new.rename(columns={'index': 'dates'})

In [ ]:
df_AXP_new.count()

In [ ]:
df_AXP_new.head()

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_AXP_new.to_sql(name='AXP_stock', con=engine, if_exists = 'replace', index=False)

In [ ]:
# # to add the auto increament primary key "id"
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "AXP_stock" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "AXP_stock" ALTER COLUMN dates TYPE DATE')

In [ ]:
# pd.read_sql_query('select * from "AXP_stock"', con=engine).head()

In [ ]:
# Finally putting transformed dataframe to csv file
df_AXP_new.to_csv('static/assets/csv/AXP_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

df_AXP_new.to_sql(name='axp_profile', con=engine, if_exists = 'append', index=False)

pd.read_sql_query('select * from axp_profile', con=engine).head()

### Concating the dataframe to eventually make a final dataframe

In [ ]:
df_final = pd.concat([df_CFG_new,df_MS_new,df_CME_new,df_JPM_new,df_GS_new,df_PYPL_new,df_BRKA_new,df_BRKB_new,df_USB_new,df_IBKR_new,df_AXP_new]).drop_duplicates()
df_final.head()

In [ ]:
# Sorting values of dates in decending order
df_sort = df_final.sort_values(['dates'], ascending=[False])
# to do reset index
df_stock = df_sort.reset_index()
df_stock.head(10)

In [ ]:
df_stock = df_stock[["dates", "open", "high", "low", "close", "adjusted_close", "volume", "ticker","company_name"]].copy()
df_stock.head(10)

In [ ]:
len(df_stock)

### Connect to heroku-postgresql database and load converted DataFrame into database

In [ ]:
# engine = create_engine('postgres://xceiqrenotzqbw:a808f4c0025de8def28e3634b65274076745bd42160a69e04f794faa8667a092@ec2-50-19-254-63.compute-1.amazonaws.com:5432/d1fj3p42e5lp7k')
# df_stock.to_sql(name='Stock_all', con=engine, if_exists = 'replace', index=False)
# with engine.connect() as con:
#     con.execute(' ALTER TABLE "Stock_all" ADD COLUMN id SERIAL PRIMARY KEY;')
#     con.execute('ALTER TABLE "Stock_all" ALTER COLUMN dates TYPE DATE;')

In [ ]:
# pd.read_sql_query('select * from "Stock_all"', con=engine).head(10)

### Final stock dataframe to csv

In [ ]:
# Finally putting transformed dataframe to csv file
df_stock.to_csv('static/assets/csv/Merged_stock_details.csv',index = True, header = True)

### MYSQL database connection

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')
#engine

In [ ]:
df_stock[:10000].to_sql(name='stocks_profile', con=engine, if_exists = 'append',index=False)

#pd.read_sql_query('select * from stocks_profile', con=engine).head()

In [ ]:
pd.read_sql_query('select * from stocks_profile', con=engine).tail()

In [ ]:
pd.read_sql_query('select * from stocks_profile', con=engine).head()