## Financial Data Mining!

In [32]:
# import Dependencies
import pandas as pd
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup as bs
from datetime import datetime as dt
import requests
import json
import re
import datetime as dt
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
from splinter import Browser
import os
import time
from selenium import webdriver

In [33]:
# set up path and bsoup browser driver
# executable_path = {"executable_path": "chromedriver"}
# browser = Browser("chrome", **executable_path, headless=False)
# Initiate headless driver for deployment
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

## Tweeter Scraping

In [7]:
# Build query Url and List of Stocks ticker
twitter_url = "https://twitter.com/"
twitterNames = ["Citizens Financial Group ", "Morgan Stanley"," CMEGroup","JPMorgan","GoldmanSachs","PayPal","BERKSHIRE HATHAWAY FINANCE CORP","U.S. Bank","INTERACTIVE BROKERS CORP","AmericanExpress"]

In [8]:
# create and initialize list 
tweets_list = []
following_list = []
followers_list = []
likes_list = []
company_list = []
handle_list = []
articles1_list = []
articles2_list = []
articles3_list = []
articles4_list = []
articles5_list = []

In [11]:
for name in twitterNames:
    try:
    # Visit Twitter company site
        url1 = twitter_url + name
#         print(url1)
        browser.visit(url1)
        # Scrape Data into Soup
        html = browser.html
        soup = bs(html, "html.parser")
    
        # Retrieve top company name, handle and 5 current tweets articles
        articles_dic = {"Company" : [], "Handle" : [], "Articles1" : [], "Articles2" : [], "Articles3" : [], "Articles4" : [], "Articles5" : []}
        companyName = soup.find('a', class_='ProfileHeaderCard-nameLink u-textInheritColor js-nav').text
        company_list.append(companyName)
        handle_list.append("@"+companyName)
#         print(companyName)
    
        # Retrieve tweets statistics
        stats_dic = {"Tweets" : [], "Following" : [], "Followers" : [], "Likes" : []}
        stats_data = soup.find_all('span', class_='ProfileNav-value')      
        tweets_num = stats_data[0].text
        newTweets_num = tweets_num.strip()
        tweets_list.append(newTweets_num)
        followers_num = stats_data[1].text
        followers_list.append(followers_num)
        following_num = stats_data[2].text
        following_list.append(following_num)
        likes_num = stats_data[3].text
        likes_list.append(likes_num)                           
#         print(stats_dic)

        # Retrieve top company name, handle and 5 current tweets articles
        articles_list = soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
        articles1 = articles_list[0].text
        articles1_list.append(articles1)
        articles2 = articles_list[1].text
        articles2_list.append(articles2)
        articles3 = articles_list[2].text
        articles3_list.append(articles3)
        articles4 = articles_list[3].text
        articles4_list.append(articles4)
        articles5 = articles_list[4].text
        articles5_list.append(articles5)

    except IndexError as e:

        pass

AttributeError: 'NoneType' object has no attribute 'text'

In [25]:
# Append the retreived information into a list of dictionaries 
stats_dic = {'Tweets':tweets_list, 'Following':following_list, 'Followers':followers_list, 'Likes':likes_list}
# print(stats_dic)

articles_dic = {"Company" : company_list, "Handle" : handle_list, "Articles1" : articles1_list, "Articles2" : articles2_list, "Articles3" : articles3_list, "Articles4" : articles4_list, "Articles5" : articles5_list}
# print(articles_dic)

In [26]:
print(articles_dic)

{'Company': [], 'Handle': [], 'Articles1': [], 'Articles2': [], 'Articles3': [], 'Articles4': [], 'Articles5': []}

In [27]:
# Create Profile dataframe
stats_df = pd.DataFrame.from_dict(stats_dic, orient='index')
stats_df = stats_df.transpose()
stats_df

Empty DataFrame
Columns: [Tweets, Following, Followers, Likes]
Index: []

In [28]:
# Create Profile dataframe
articles_df = pd.DataFrame.from_dict(articles_dic, orient='index')
articles_df = articles_df.transpose()
articles_df

Empty DataFrame
Columns: [Company, Handle, Articles1, Articles2, Articles3, Articles4, Articles5]
Index: []

In [29]:
# Combine DataFrame
stats_articles_df = pd.concat([stats_df, articles_df], axis=1, sort=True)
stats_articles_df

Empty DataFrame
Columns: [Tweets, Following, Followers, Likes, Company, Handle, Articles1, Articles2, Articles3, Articles4, Articles5]
Index: []

## Save to csv and json file

In [30]:
stats_articles_df.to_json (r'assets/json/stats_articles_df.json')

In [31]:
stats_articles_df.to_csv (r'assets/csv/stats_articles_df.csv')

## Loading into Database Mysql

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_Financial')

In [ ]:
stats_articles_df.to_sql(name='tweets', con=engine, if_exists = 'replace', index=False)

In [ ]:
pd.read_sql_query('select * from tweets', con=engine).head()

#####

## Yahoo Finance Scraping

In [34]:
# Build query Url and List of Stocks ticker
yahoo_url = "https://finance.yahoo.com/quote/"
# List of Stocks ticker
tickers = ["CFG","MS","CME","JPM","GS","PYPL","BRK-A","BRK-B","USB","IBKR","AXP"]
# tickers = ["IBM"]

In [35]:
# create and initialize list 
company_name_list = []
company_desc_list = []
company_tel_list = []
company_addr_list = []
key_execs_n_list = []
key_execs_t_list = []
url_list = []

In [36]:
import time

In [37]:
for ticker in tickers:
    try:
        # Visit Yahoo finance profile page
        url2 = yahoo_url + ticker + '/profile?p=' + ticker
    #     print(url2)
        browser.visit(url2)
        # Scrape Financial Data into Soup
        html = browser.html
        soup = bs(html, "html.parser")

        profile1 = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)")
        company_addr = profile1.contents[1] + profile1.contents[5]
        company_addr_list.append(company_addr)
    #     print(company_addr)
        #type(data)
        company_name = soup.find("h3", class_="Fz(m) Mb(10px)").text
        company_name_list.append(company_name)
        company_desc = soup.find('p', class_="Mt(15px) Lh(1.6)").text
        company_desc_list.append(company_desc)
    #     print(company_desc)
        key_execs_data = soup.find('table', class_='W(100%)').find('tbody').find_all('span')
#         print(key_execs_data[0])
        key_execs_name = key_execs_data[0].contents[1]
        key_execs_title = key_execs_data[1].contents[1]
        key_execs_n_list.append(key_execs_name)
        key_execs_t_list.append(key_execs_title)
        profile = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)").find_all('a')
        company_tel = profile[0].text
        company_tel_list.append(company_tel)
        url = profile[1].text
        url_list.append(url)
#         time.sleep(3)
        
    except IndexError as e:
        pass
    except AttributeError as e:
        pass

In [38]:
# print(company_tel)
# print(company_tel_list)

In [39]:
# convert telephone number to Float
new_tel_list = []
for tel in company_tel_list:
    try:
        new_tel = tel.replace('-', '')
        new_tel_list.append(new_tel)
    except ValueError:
        pass
company_tel_list = new_tel_list
#print(company_tel_list)

In [40]:
# Create Profile dataframe
data_dic = {'Ticker':tickers, 'Company_Name':company_name_list, 'Description':company_desc_list, 'Telephone':company_tel_list, 'Address':company_addr_list,'Key_Execs_Name':key_execs_n_list,'Key_Execs_Title':key_execs_t_list,'Web_URL':url_list}
profile_df = pd.DataFrame.from_dict(data_dic, orient='index')
profile_df = profile_df.transpose()
profile_df

,Ticker,Company_Name,Description,Telephone,Address,Key_Execs_Name,Key_Execs_Title,Web_URL
0,CFG,"Citizens Financial Group, Inc.","Citizens Financial Group, Inc. operates as the...",4014567000,"One Citizens PlazaProvidence, RI 02903",Mr. Bruce W. Van Saun,"Chairman, Pres & CEO",http://www.citizensbank.com
1,MS,Morgan Stanley,"Morgan Stanley, a financial holding company, p...",2127614000,"1585 BroadwayNew York, NY 10036",Mr. James Patrick Gorman,Chairman & CEO,http://www.morganstanley.com
2,CME,CME Group Inc.,"CME Group Inc., through its subsidiaries, oper...",3129301000,"20 South Wacker DriveChicago, IL 60606",Mr. Terrence A. Duffy,Chairman & CEO,http://www.cmegroup.com
3,JPM,JPMorgan Chase & Co.,JPMorgan Chase & Co. operates as a financial s...,2122706000,"383 Madison AvenueNew York, NY 10179",Mr. James Dimon,Chairman & CEO,http://www.jpmorganchase.com
4,GS,"The Goldman Sachs Group, Inc.","The Goldman Sachs Group, Inc. operates as an i...",2129021000,"200 West StreetNew York, NY 10282",Mr. David Michael Solomon,Chairman & CEO,http://www.goldmansachs.com
5,PYPL,"PayPal Holdings, Inc.","PayPal Holdings, Inc. operates as a technology...",4089671000,"2211 North First StreetSan Jose, CA 95131",Mr. Daniel H. Schulman,"Pres, CEO & Director",http://www.paypal.com
6,BRK-A,Berkshire Hathaway Inc.,"Berkshire Hathaway Inc., through its subsidiar...",4023461400,"3555 Farnam StreetOmaha, NE 68131",Mr. Warren E. Buffett,"Chairman, Pres & CEO",http://www.berkshirehathaway.com
7,BRK-B,Berkshire Hathaway Inc.,"Berkshire Hathaway Inc., through its subsidiar...",4023461400,"3555 Farnam StreetOmaha, NE 68131",Mr. Warren E. Buffett,"Chairman, Pres & CEO",http://www.berkshirehathaway.com
8,USB,U.S. Bancorp,"U.S. Bancorp, a financial services holding com...",6514663000,"800 Nicollet MallMinneapolis, MN 55402",Mr. Andrew Cecere,"Chairman, Pres & CEO",http://www.usbank.com
9,IBKR,American Express Company,"American Express Company, together with its su...",2126402000,200 Vesey StreetLower Manhattan,Mr. Stephen Joseph Squeri,Chairman & CEO,http://www.americanexpress.com
10,AXP,None,None,None,None,None,None,None

## Save DataFrame to csv and json file

In [41]:
profile_df.to_json (r'static/assets/json/profile_df.json')

In [42]:
profile_df.to_csv (r'static/assets/csv/profile_df.csv')

## Loading into Database Mysql

In [43]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stockml_db')

In [44]:
profile_df.to_sql(name='Yahoo_profiles', con=engine, if_exists = 'append', index=False)

In [45]:
pd.read_sql_query('select * from Yahoo_profiles', con=engine)

,id,Ticker,Company_Name,Description,Telephone,Address,Key_Execs_Name,Key_Execs_Title,Web_URL
0,1,CFG,"Citizens Financial Group, Inc.","Citizens Financial Group, Inc. operates as the...",4014567000,"One Citizens PlazaProvidence, RI 02903",Mr. Bruce W. Van Saun,"Chairman, Pres & CEO",http://www.citizensbank.com
1,2,MS,Morgan Stanley,"Morgan Stanley, a financial holding company, p...",2127614000,"1585 BroadwayNew York, NY 10036",Mr. James Patrick Gorman,Chairman & CEO,http://www.morganstanley.com
2,3,CME,CME Group Inc.,"CME Group Inc., through its subsidiaries, oper...",3129301000,"20 South Wacker DriveChicago, IL 60606",Mr. Terrence A. Duffy,Chairman & CEO,http://www.cmegroup.com
3,4,JPM,JPMorgan Chase & Co.,JPMorgan Chase & Co. operates as a financial s...,2122706000,"383 Madison AvenueNew York, NY 10179",Mr. James Dimon,Chairman & CEO,http://www.jpmorganchase.com
4,5,GS,"The Goldman Sachs Group, Inc.","The Goldman Sachs Group, Inc. operates as an i...",2129021000,"200 West StreetNew York, NY 10282",Mr. David Michael Solomon,Chairman & CEO,http://www.goldmansachs.com
5,6,PYPL,"PayPal Holdings, Inc.","PayPal Holdings, Inc. operates as a technology...",4089671000,"2211 North First StreetSan Jose, CA 95131",Mr. Daniel H. Schulman,"Pres, CEO & Director",http://www.paypal.com
6,7,BRK-A,Berkshire Hathaway Inc.,"Berkshire Hathaway Inc., through its subsidiar...",4023461400,"3555 Farnam StreetOmaha, NE 68131",Mr. Warren E. Buffett,"Chairman, Pres & CEO",http://www.berkshirehathaway.com
7,8,BRK-B,Berkshire Hathaway Inc.,"Berkshire Hathaway Inc., through its subsidiar...",4023461400,"3555 Farnam StreetOmaha, NE 68131",Mr. Warren E. Buffett,"Chairman, Pres & CEO",http://www.berkshirehathaway.com
8,9,USB,U.S. Bancorp,"U.S. Bancorp, a financial services holding com...",6514663000,"800 Nicollet MallMinneapolis, MN 55402",Mr. Andrew Cecere,"Chairman, Pres & CEO",http://www.usbank.com
9,10,IBKR,American Express Company,"American Express Company, together with its su...",2126402000,200 Vesey StreetLower Manhattan,Mr. Stephen Joseph Squeri,Chairman & CEO,http://www.americanexpress.com
10,11,AXP,None,None,None,None,None,None,None

## Combine dataframes

In [46]:
combined_df = pd.concat([profile_df, stats_articles_df], axis=1, join='left')
combined_df.head()

ValueError: Only can inner (intersect) or outer (union) join the other axis

In [ ]:
combined_df.to_csv (r'assets/csv/companyData_df.csv')