In [10]:
# !pip install pandas_datareader

In [1]:
import pandas as pd
import pandas_datareader as web 
from datetime import datetime 

import requests
import json
import re
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [14]:
cfg_data = (web.get_data_yahoo(symbols=['cfg'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [17]:
ms_data = (web.get_data_yahoo(symbols=['ms'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [18]:
cme_data = (web.get_data_yahoo(symbols=['cme'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [19]:
jpm_data = (web.get_data_yahoo(symbols=['jpm'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [20]:
gs_data = (web.get_data_yahoo(symbols=['gs'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [21]:
pypl_data = (web.get_data_yahoo(symbols=['pypl'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [30]:
td_data = (web.get_data_yahoo(symbols=['td'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [32]:
brk_data = (web.get_data_yahoo(symbols=['brk-a'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [23]:
usb_data = (web.get_data_yahoo(symbols=['usb'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [2]:
ibkr_data = (web.get_data_yahoo(symbols=['ibkr'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [25]:
axp_data = (web.get_data_yahoo(symbols=['axp'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [26]:
tech_data = (web.get_data_yahoo(symbols=['AAPL','AMZN','MSFT','fb','ibm','googl','nflx','tsla','uber','nvda'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [35]:
spx_data = (web.get_data_yahoo(symbols=['^GSPC'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [36]:
dow_data = (web.get_data_yahoo(symbols=['^DJI'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [37]:
nasdaq_data = (web.get_data_yahoo(symbols=['^IXIC'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [38]:
vix_data = (web.get_data_yahoo(symbols=['^VIX'], 
                            start=datetime(2014,7,15),
                            end=datetime(2019,7,15))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [3]:
ibkr_data.tail()

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj Close
1254,2019-07-09,ibkr,53.849998,52.820000,53.070000,53.740002,330700.0,53.740002
1255,2019-07-10,ibkr,53.889999,52.470001,53.299999,52.599998,539600.0,52.599998
1256,2019-07-11,ibkr,53.549999,52.669998,52.669998,52.919998,376300.0,52.919998
1257,2019-07-12,ibkr,53.040001,51.730000,52.849998,52.220001,519400.0,52.220001
1258,2019-07-15,ibkr,52.610001,51.020000,52.250000,51.169998,526702.0,51.169998

### Save to csv and json file

In [4]:
cfg_data.to_csv (r'assets/csv/cfg_data.csv')
ms_data.to_csv (r'assets/csv/ms_data.csv')
cme_data.to_csv (r'assets/csv/cme_data.csv')
jpm_data.to_csv (r'assets/csv/jpm_data.csv')
gs_data.to_csv (r'assets/csv/gs_data.csv')
pypl_data.to_csv (r'assets/csv/pypl_data.csv')
td_data.to_csv (r'assets/csv/td_data.csv')
brk_data.to_csv (r'assets/csv/brk_data.csv')
usb_data.to_csv (r'assets/csv/usb_data.csv')
ibkr_data.to_csv (r'assets/csv/ibkr_data.csv')
axp_data.to_csv (r'assets/csv/axp_data.csv')
tech_data.to_csv (r'assets/csv/tech_data.csv')
spx_data.to_csv (r'assets/csv/spx_data.csv')
dow_data.to_csv (r'assets/csv/dow_data.csv')
nasdaq_data.to_csv (r'assets/csv/nasdaq_data.csv')
vix_data.to_csv (r'assets/csv/vix_data.csv')

NameError: name 'cfg_data' is not defined

In [ ]:
cfg_data.to_json (r'assets/json/cfg_data.json')
ms_data.to_json (r'assets/json/ms_data.json')
cme_data.to_json (r'assets/json/cme_data.json')
jpm_data.to_json (r'assets/json/jpm_data.json')
gs_data.to_json (r'assets/json/gs_data.json')
pypl_data.to_json (r'assets/json/pypl_data.json')
td_data.to_json (r'assets/json/td_data.json')
brk_data.to_json (r'assets/json/brk_data.json')
usb_data.to_json (r'assets/json/usb_data.json')
ibkr_data.to_json (r'assets/json/ibkr_data.json')
axp_data.to_json (r'assets/json/axp_data.json')
tech_data.to_json (r'assets/json/tech_data.json')
spx_data.to_json (r'assets/json/spx_data.json')
dow_data.to_json (r'assets/json/tech_data.json')
nasdaq_data.to_json (r'assets/json/nasdaq_data.json')
vix_data.to_json (r'assets/json/vix_data.json')

### Loading into Database Mysql

In [5]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_data')

In [6]:
cfg_data.to_sql(name='cfg_data', con=engine, if_exists = 'append', index=False)
ms_data.to_sql(name='ms_data', con=engine, if_exists = 'append', index=False)
cme_data.to_sql(name='cme_data', con=engine, if_exists = 'append', index=False)
jpm_data.to_sql(name='jpm_data', con=engine, if_exists = 'append', index=False)
gs_data.to_sql(name='gs_data', con=engine, if_exists = 'append', index=False)
pypl_data.to_sql(name='pypl_data', con=engine, if_exists = 'append', index=False)
td_data.to_sql(name='td_data', con=engine, if_exists = 'append', index=False)
brk_data.to_sql(name='brk_data', con=engine, if_exists = 'append', index=False)
usb_data.to_sql(name='usb_data', con=engine, if_exists = 'append', index=False)
ibkr_data.to_sql(name='ibkr_data', con=engine, if_exists = 'append', index=False)
axp_data.to_sql(name='axp_data', con=engine, if_exists = 'append', index=False)
tech_data.to_sql(name='tech_data', con=engine, if_exists = 'append', index=False)
spx_data.to_sql(name='spx_data', con=engine, if_exists = 'append', index=False)
dow_data.to_sql(name='dow_data', con=engine, if_exists = 'append', index=False)
nasdaq_data.to_sql(name='nasdaq_data', con=engine, if_exists = 'append', index=False)
vix_data.to_sql(name='vix_data', con=engine, if_exists = 'append', index=False)

NameError: name 'cfg_data' is not defined

In [8]:
pd.read_sql_query('select * from ibkr_data', con=engine).tail()

,Date,Symbols,High,Low,Open,Close,Volume,Adj Close
1254,2019-07-09,ibkr,53.849998,52.820000,53.070000,53.740002,330700.0,53.740002
1255,2019-07-10,ibkr,53.889999,52.470001,53.299999,52.599998,539600.0,52.599998
1256,2019-07-11,ibkr,53.549999,52.669998,52.669998,52.919998,376300.0,52.919998
1257,2019-07-12,ibkr,53.040001,51.730000,52.849998,52.220001,519400.0,52.220001
1258,2019-07-15,ibkr,52.610001,51.020000,52.250000,51.169998,526702.0,51.169998