In [1]:
#import packages
import pandas as pd
import numpy as np

#to plot within notebook
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
import sys
import csv
import datetime
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [2]:
#setting figure size
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 20,10

#for normalizing data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

In [3]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_data')
# df = pd.read_sql_query('select * from profile', con=engine)
cfg_data = pd.read_sql_query('select * from cfg_data', con=engine)
ms_data = pd.read_sql_query('select * from ms_data', con=engine)
cme_data = pd.read_sql_query('select * from cme_data', con=engine)
jpm_data = pd.read_sql_query('select * from jpm_data', con=engine)
gs_data = pd.read_sql_query('select * from gs_data', con=engine)
pypl_data = pd.read_sql_query('select * from pypl_data', con=engine)
td_data = pd.read_sql_query('select * from td_data', con=engine)
brk_data = pd.read_sql_query('select * from brk_data', con=engine)
usb_data = pd.read_sql_query('select * from usb_data', con=engine)
ibkr_data = pd.read_sql_query('select * from ibkr_data', con=engine)
axp_data = pd.read_sql_query('select * from axp_data', con=engine)
tech_data = pd.read_sql_query('select * from tech_data', con=engine)
spx_data = pd.read_sql_query('select * from spx_data', con=engine)
dow_data = pd.read_sql_query('select * from dow_data', con=engine)
nasdaq_data = pd.read_sql_query('select * from nasdaq_data', con=engine)
vix_data = pd.read_sql_query('select * from vix_data', con=engine)

In [4]:
axp_data.tail()

,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
1259,2019-07-15,axp,128.679993,127.760002,128.250000,128.570007,2355700.0,128.570007,American Express Company
1260,2019-07-16,axp,129.339996,127.800003,129.220001,128.059998,2734000.0,128.059998,American Express Company
1261,2019-07-17,axp,128.639999,127.010002,128.020004,127.080002,2248900.0,127.080002,American Express Company
1262,2019-07-18,axp,129.089996,126.660004,126.690002,128.399994,3524500.0,128.399994,American Express Company
1263,2019-07-19,axp,128.000000,123.800003,126.800003,124.820000,7369624.0,124.820000,American Express Company

In [5]:
# #setting index as date
# brk_data['Date'] = pd.to_datetime(brk_data.Date,format='%Y-%m-%d')
# brk_data.index = ibkr_data['Date']

# #plot
# plt.figure(figsize=(16,8))
# plt.plot(ibkr_data['Close'], label='Close Price history')

### Long Short Term Memory (LSTM)

In [6]:
#importing required libraries
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM

Using TensorFlow backend.

In [7]:
# data = ibkr_data.sort_index(ascending=True, axis=0)
# new_data = pd.DataFrame(index=range(0,len(ibkr_data)),columns=['Date', 'Close'])
# for i in range(0,len(data)):
#     new_data['Date'][i] = data['Date'][i]
#     new_data['Close'][i] = data['Close'][i]

# #setting index
# new_data.index = new_data.Date
# new_data.drop('Date', axis=1, inplace=True)

# #creating train and test sets
# dataset = new_data.values
# data.iloc[1000:1010]
# # train = dataset[0:987,:]
# # valid = dataset[987:,:]

# train = dataset[0:1007,:]
# valid = dataset[1007:,:]

# #converting dataset into x_train and y_train
# scaler = MinMaxScaler(feature_range=(0, 1))
# scaled_data = scaler.fit_transform(dataset)

# x_train, y_train = [], []
# # 60 variance
# for i in range(60,len(train)):
#     x_train.append(scaled_data[i-60:i,0])
#     y_train.append(scaled_data[i,0])
# x_train, y_train = np.array(x_train), np.array(y_train)

# x_train = np.reshape(x_train, (x_train.shape[0],x_train.shape[1],1))

In [8]:
# # create and fit the LSTM network
# model = Sequential()
# model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1],1)))
# model.add(LSTM(units=50))
# model.add(Dense(1))

# model.compile(loss='mean_squared_error', optimizer='adam')
# model.fit(x_train, y_train, epochs=1, batch_size=1, verbose=2)

# #predicting 246 values, using past 60 from the train data
# inputs = new_data[len(new_data) - len(valid) - 60:].values
# inputs = inputs.reshape(-1,1)
# inputs  = scaler.transform(inputs)

# X_test = []
# for i in range(60,inputs.shape[0]):
#     X_test.append(inputs[i-60:i,0])
# X_test = np.array(X_test)

# X_test = np.reshape(X_test, (X_test.shape[0],X_test.shape[1],1))
# closing_price = model.predict(X_test)
# closing_price = scaler.inverse_transform(closing_price)

In [9]:
# rms=np.sqrt(np.mean(np.power((valid-closing_price),2)))
# rms

In [10]:
# valid.tail()

In [11]:
ms_data.tail()

,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
1259,2019-07-15,brk-a,321500,319455,321500,320300.0,100,320300.0,Berkshire Hathaway Inc.
1260,2019-07-16,brk-a,322300,319250,321040,319273.0,200,319273.0,Berkshire Hathaway Inc.
1261,2019-07-17,brk-a,318500,311115,318325,311600.0,500,311600.0,Berkshire Hathaway Inc.
1262,2019-07-18,brk-a,313595,310770,310770,312003.0,600,312003.0,Berkshire Hathaway Inc.
1263,2019-07-19,brk-a,312875,309200,312600,309217.5,269,309217.5,Berkshire Hathaway Inc.

In [ ]:
# df_data = ["cfg_data","ms_data","cme_data","jpm_data","gs_data","pypl_data","td_data","brk_data","usb_data","ibkr_data","axp_data"]

data = pypl_data.sort_index(ascending=True, axis=0)
new_data = pd.DataFrame(index=range(0,len(pypl_data)),columns=['Date', 'Close'])
for i in range(0,len(data)):
    new_data['Date'][i] = data['Date'][i]
    new_data['Close'][i] = data['Close'][i]

#setting index
new_data.index = new_data.Date
new_data.drop('Date', axis=1, inplace=True)

#creating train and test sets
dataset = new_data.values

# train = dataset[0:987,:]
# valid = dataset[987:,:]

train = dataset[0:1004,:]
valid = dataset[1004:,:]

#converting dataset into x_train and y_train
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(dataset)

x_train, y_train = [], []
for i in range(60,len(train)):
    x_train.append(scaled_data[i-60:i,0])
    y_train.append(scaled_data[i,0])
x_train, y_train = np.array(x_train), np.array(y_train)

x_train = np.reshape(x_train, (x_train.shape[0],x_train.shape[1],1))

# create and fit the LSTM network
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(x_train.shape[1],1)))
model.add(LSTM(units=50))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(x_train, y_train, epochs=1, batch_size=1, verbose=2)

#predicting 246 values, using past 60 from the train data
inputs = new_data[len(new_data) - len(valid) - 60:].values
inputs = inputs.reshape(-1,1)
inputs  = scaler.transform(inputs)

X_test = []
for i in range(60,inputs.shape[0]):
    X_test.append(inputs[i-60:i,0])
X_test = np.array(X_test)

X_test = np.reshape(X_test, (X_test.shape[0],X_test.shape[1],1))
closing_price = model.predict(X_test)
closing_price = scaler.inverse_transform(closing_price)

valid = new_data[1004:]
valid['Predictions'] = closing_price
ml_data = valid

C:\Users\Owner\anaconda\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

Epoch 1/1

In [ ]:
#for plotting
# train = new_data[:1004]
valid = new_data[1004:]
valid['Predictions'] = closing_price
# plt.plot(train['Close'])
plt.plot(valid[['Close','Predictions']])

In [ ]:
data.iloc[1000:1015]

In [ ]:
ml_data['Symbols']= 'pypl'
ml_data = ml_data.reset_index()
ml_data.tail()

In [ ]:
#for plotting
# train = new_data[:1004]
valid = new_data[1004:]
valid['Predictions'] = closing_price
# plt.plot(train['Close'])
plt.plot(valid[['Close','Predictions']])

### Loading into Database Mysql

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_data')

In [ ]:
# ml_data.to_sql(name='cfg_data_LSTM', con=engine, if_exists = 'replace', index=False)
# ml_data.to_sql(name='ms_data_lstm', con=engine, if_exists = 'append', index=False)
# ml_data.to_sql(name='cme_data_lstm', con=engine, if_exists = 'replace', index=False)
# ml_data.to_sql(name='jpm_data_lstm', con=engine, if_exists = 'append', index=False)
# ml_data.to_sql(name='gs_data_lstm', con=engine, if_exists = 'append', index=False)
ml_data.to_sql(name='pypl_data_lstm', con=engine, if_exists = 'append', index=False)
# ml_data.to_sql(name='td_data_lstm', con=engine, if_exists = 'replace', index=False)
## ml_data.to_sql(name='brk_data_LSTM', con=engine, if_exists = 'append', index=False)
# ml_data.to_sql(name='usb_data_LSTM', con=engine, if_exists = 'append', index=False)
# ml_data.to_sql(name='ibkr_data_LSTM', con=engine, if_exists = 'append', index=False)
# ml_data.to_sql(name='axp_data_LSTM', con=engine, if_exists = 'replace', index=False)
# ml_data.to_sql(name='tech_data_LSTM', con=engine, if_exists = 'append', index=False)
# ml_data.to_sql(name='all_data_LSTM', con=engine, if_exists = 'append', index=False)

In [ ]:
pd.read_sql_query('select * from pypl_data_lstm', con=engine).tail()

In [ ]:
pypl_data.tail()