In [1]:
# !pip install pandas_datareader

In [2]:
import pandas as pd
import pandas_datareader as web 
from datetime import datetime 

import requests
import json
import re
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [3]:
# Citizens Financial Group, Inc. (CFG)
cfg_data = (web.get_data_yahoo(symbols=['cfg'], 
                            start=datetime(2014,7,18),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [4]:
#  adding company column
cfg_data ['Company_name']= 'Citizens Financial Group'

In [5]:
# Morgan Stanley (MS)
ms_data = (web.get_data_yahoo(symbols=['ms'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [6]:
#  adding company column
ms_data ['Company_name']= 'Morgan Stanley'

In [7]:
# CME Group Inc. (CME)
cme_data = (web.get_data_yahoo(symbols=['cme'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [8]:
#  adding company column
cme_data ['Company_name']= 'CME Group Inc.'

In [9]:
# JPMorgan Chase & Co. (JPM)
jpm_data = (web.get_data_yahoo(symbols=['jpm'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [10]:
#  adding company column
jpm_data ['Company_name']= 'JPMorgan Chase & Co.'

In [11]:
# The Goldman Sachs Group, Inc. (GS)
gs_data = (web.get_data_yahoo(symbols=['gs'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [12]:
#  adding company column
gs_data ['Company_name']= 'The Goldman Sachs Group, Inc.'

In [13]:
# PayPal Holdings, Inc. (PYPL)
pypl_data = (web.get_data_yahoo(symbols=['pypl'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [14]:
#  adding company column
pypl_data ['Company_name']= 'PayPal Holdings, Inc.'

In [15]:
# The Toronto-Dominion Bank (TD)
td_data = (web.get_data_yahoo(symbols=['td'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [16]:
#  adding company column
td_data ['Company_name']= 'The Toronto-Dominion Bank'

In [17]:
# Bank of Montreal (BMO)
bmo_data = (web.get_data_yahoo(symbols=['bmo'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [18]:
#  adding company column
bmo_data ['Company_name']= 'Bank of Montreal'

In [19]:
# The Bank of Nova Scotia (BNS)
bns_data = (web.get_data_yahoo(symbols=['bns'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [20]:
#  adding company column
bns_data ['Company_name']= 'The Bank of Nova Scotia'

In [21]:
# Berkshire Hathaway Inc. (BRK-A)
brk_data = (web.get_data_yahoo(symbols=['brk-a'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [22]:
#  adding company column
brk_data ['Company_name']= 'Berkshire Hathaway Inc.'

In [23]:
# U.S. Bancorp (USB)
usb_data = (web.get_data_yahoo(symbols=['usb'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [24]:
#  adding company column
usb_data ['Company_name']= 'U.S. Bancorp'

In [25]:
# Interactive Brokers Group, Inc. (IBKR)
ibkr_data = (web.get_data_yahoo(symbols=['ibkr'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [26]:
#  adding company column
ibkr_data ['Company_name']= 'Interactive Brokers Group, Inc.'

In [27]:
# American Express Company (AXP)
axp_data = (web.get_data_yahoo(symbols=['axp'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [28]:
#  adding company column
axp_data ['Company_name']= 'American Express Company'

In [29]:
tech_data = (web.get_data_yahoo(symbols=['AAPL','AMZN','MSFT','fb','ibm','googl','nflx','tsla','uber','nvda'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [30]:
# S&P 500 (^GSPC)
spx_data = (web.get_data_yahoo(symbols=['^GSPC'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [31]:
#  adding company column
spx_data ['Company_name']= 'S&P 500'

In [32]:
# Dow Jones Industrial Average (^DJI)
dow_data = (web.get_data_yahoo(symbols=['^DJI'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [33]:
#  adding company column
dow_data ['Company_name']= 'Dow Jones Industrial Average'

In [34]:
# NASDAQ Composite (^IXIC)
nasdaq_data = (web.get_data_yahoo(symbols=['^IXIC'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [35]:
#  adding company column
nasdaq_data ['Company_name']= 'NASDAQ'

In [36]:
# CBOE Volatility Index (^VIX)
vix_data = (web.get_data_yahoo(symbols=['^VIX'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,18))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [37]:
#  adding company column
vix_data ['Company_name']= 'CBOE Volatility Index'

In [38]:
vix_data.tail()

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
1258,2019-07-12,^VIX,12.82,12.28,12.76,12.39,0,12.39,CBOE Volatility Index
1259,2019-07-15,^VIX,13.02,12.49,12.58,12.68,0,12.68,CBOE Volatility Index
1260,2019-07-16,^VIX,13.14,12.28,12.61,12.86,0,12.86,CBOE Volatility Index
1261,2019-07-17,^VIX,13.97,12.24,12.62,13.97,0,13.97,CBOE Volatility Index
1262,2019-07-18,^VIX,14.47,13.19,14.45,13.53,0,13.53,CBOE Volatility Index

### Concating the dataframe to eventually make a final dataframe

In [39]:
df_final = pd.concat([cfg_data,ms_data,cme_data,jpm_data,gs_data,pypl_data,td_data,bmo_data,bns_data,brk_data,usb_data,ibkr_data,axp_data,spx_data,dow_data,nasdaq_data,vix_data]).drop_duplicates()
df_final.head()

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
0,2014-09-24,cfg,23.219999,21.350000,21.500000,23.080000,60450900.0,20.881390,Citizens Financial Group
1,2014-09-25,cfg,23.410000,22.450001,22.559999,23.049999,8430000.0,20.854246,Citizens Financial Group
2,2014-09-26,cfg,23.370001,22.910000,23.180000,23.250000,2504400.0,21.035194,Citizens Financial Group
3,2014-09-29,cfg,23.450001,22.910000,23.139999,23.230000,4832600.0,21.017097,Citizens Financial Group
4,2014-09-30,cfg,23.570000,23.049999,23.110001,23.420000,4103100.0,21.189005,Citizens Financial Group

In [40]:
# Sorting values of dates in decending order
df_sort = df_final.sort_values(['Date'], ascending=[False])
# to do reset index
df_stock = df_sort.reset_index()
df_stock.head(10)

Attributes,index,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
0,1262,2019-07-18,^VIX,14.470000,13.190000,14.450000,13.530000,0.000000e+00,13.530000,CBOE Volatility Index
1,1211,2019-07-18,cfg,34.919998,34.310001,34.580002,34.619999,6.475222e+06,34.619999,Citizens Financial Group
2,1262,2019-07-18,cme,206.559998,203.389999,203.860001,206.259995,6.549730e+05,206.259995,CME Group Inc.
3,1262,2019-07-18,jpm,115.070000,113.550003,113.930000,114.669998,8.221718e+06,114.669998,JPMorgan Chase & Co.
4,1262,2019-07-18,axp,129.089996,126.660004,126.690002,128.399994,3.302754e+06,128.399994,American Express Company
5,1262,2019-07-18,brk-a,313595.000000,310770.000000,310770.000000,312003.000000,5.470000e+02,312003.000000,Berkshire Hathaway Inc.
6,1262,2019-07-18,ms,44.520000,43.509998,43.669998,44.430000,1.103612e+07,44.430000,Morgan Stanley
7,1262,2019-07-18,td,59.215000,58.689999,58.799999,59.090000,8.363630e+05,59.090000,The Toronto-Dominion Bank
8,1262,2019-07-18,^IXIC,8215.583984,8135.122559,8151.763184,8207.242188,1.802589e+09,8207.242188,NASDAQ
9,1262,2019-07-18,usb,55.369999,54.299999,54.419998,55.189999,7.750838e+06,55.189999,U.S. Bancorp

In [41]:
df_stock = df_stock[["Date", "Symbols", "High", "Low", "Open", "Close", "Volume", "Adj Close", "Company_name"]].copy()
df_stock.head(10)

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
0,2019-07-18,^VIX,14.470000,13.190000,14.450000,13.530000,0.000000e+00,13.530000,CBOE Volatility Index
1,2019-07-18,cfg,34.919998,34.310001,34.580002,34.619999,6.475222e+06,34.619999,Citizens Financial Group
2,2019-07-18,cme,206.559998,203.389999,203.860001,206.259995,6.549730e+05,206.259995,CME Group Inc.
3,2019-07-18,jpm,115.070000,113.550003,113.930000,114.669998,8.221718e+06,114.669998,JPMorgan Chase & Co.
4,2019-07-18,axp,129.089996,126.660004,126.690002,128.399994,3.302754e+06,128.399994,American Express Company
5,2019-07-18,brk-a,313595.000000,310770.000000,310770.000000,312003.000000,5.470000e+02,312003.000000,Berkshire Hathaway Inc.
6,2019-07-18,ms,44.520000,43.509998,43.669998,44.430000,1.103612e+07,44.430000,Morgan Stanley
7,2019-07-18,td,59.215000,58.689999,58.799999,59.090000,8.363630e+05,59.090000,The Toronto-Dominion Bank
8,2019-07-18,^IXIC,8215.583984,8135.122559,8151.763184,8207.242188,1.802589e+09,8207.242188,NASDAQ
9,2019-07-18,usb,55.369999,54.299999,54.419998,55.189999,7.750838e+06,55.189999,U.S. Bancorp

In [42]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_data')

In [43]:
df_stock.to_sql(name='stocks_profile', con=engine, if_exists = 'replace',index=False)

#pd.read_sql_query('select * from stocks_profile', con=engine).head()

In [44]:
pd.read_sql_query('select * from stocks_profile', con=engine).head()

,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
0,2019-07-18,^VIX,14.470000,13.190000,14.450000,13.530000,0.0,13.530000,CBOE Volatility Index
1,2019-07-18,cfg,34.919998,34.310001,34.580002,34.619999,6475222.0,34.619999,Citizens Financial Group
2,2019-07-18,cme,206.559998,203.389999,203.860001,206.259995,654973.0,206.259995,CME Group Inc.
3,2019-07-18,jpm,115.070000,113.550003,113.930000,114.669998,8221718.0,114.669998,JPMorgan Chase & Co.
4,2019-07-18,axp,129.089996,126.660004,126.690002,128.399994,3302754.0,128.399994,American Express Company

### Save to csv and json file

In [45]:
cfg_data.to_csv (r'assets/csv/cfg_data.csv')
ms_data.to_csv (r'assets/csv/ms_data.csv')
cme_data.to_csv (r'assets/csv/cme_data.csv')
jpm_data.to_csv (r'assets/csv/jpm_data.csv')
gs_data.to_csv (r'assets/csv/gs_data.csv')
pypl_data.to_csv (r'assets/csv/pypl_data.csv')
td_data.to_csv (r'assets/csv/td_data.csv')
bmo_data.to_csv (r'assets/csv/bmo_data.csv')
brk_data.to_csv (r'assets/csv/brk_data.csv')
usb_data.to_csv (r'assets/csv/usb_data.csv')
ibkr_data.to_csv (r'assets/csv/ibkr_data.csv')
axp_data.to_csv (r'assets/csv/axp_data.csv')
tech_data.to_csv (r'assets/csv/tech_data.csv')
spx_data.to_csv (r'assets/csv/spx_data.csv')
dow_data.to_csv (r'assets/csv/dow_data.csv')
nasdaq_data.to_csv (r'assets/csv/nasdaq_data.csv')
vix_data.to_csv (r'assets/csv/vix_data.csv')

In [46]:
cfg_data.to_json (r'assets/json/cfg_data.json')
ms_data.to_json (r'assets/json/ms_data.json')
cme_data.to_json (r'assets/json/cme_data.json')
jpm_data.to_json (r'assets/json/jpm_data.json')
gs_data.to_json (r'assets/json/gs_data.json')
pypl_data.to_json (r'assets/json/pypl_data.json')
td_data.to_json (r'assets/json/td_data.json')
bmo_data.to_json (r'assets/json/bmo_data.json')
bns_data.to_json (r'assets/json/bns_data.json')
brk_data.to_json (r'assets/json/brk_data.json')
usb_data.to_json (r'assets/json/usb_data.json')
ibkr_data.to_json (r'assets/json/ibkr_data.json')
axp_data.to_json (r'assets/json/axp_data.json')
tech_data.to_json (r'assets/json/tech_data.json')
spx_data.to_json (r'assets/json/spx_data.json')
dow_data.to_json (r'assets/json/tech_data.json')
nasdaq_data.to_json (r'assets/json/nasdaq_data.json')
vix_data.to_json (r'assets/json/vix_data.json')

### Loading into Database Mysql

In [47]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_data')

In [48]:
cfg_data.to_sql(name='cfg_data', con=engine, if_exists = 'replace', index=False)
ms_data.to_sql(name='ms_data', con=engine, if_exists = 'replace', index=False)
cme_data.to_sql(name='cme_data', con=engine, if_exists = 'replace', index=False)
jpm_data.to_sql(name='jpm_data', con=engine, if_exists = 'replace', index=False)
gs_data.to_sql(name='gs_data', con=engine, if_exists = 'replace', index=False)
pypl_data.to_sql(name='pypl_data', con=engine, if_exists = 'replace', index=False)
td_data.to_sql(name='td_data', con=engine, if_exists = 'replace', index=False)
bmo_data.to_sql(name='bmo_data', con=engine, if_exists = 'replace', index=False)
bns_data.to_sql(name='bns_data', con=engine, if_exists = 'replace', index=False) 
brk_data.to_sql(name='brk_data', con=engine, if_exists = 'replace', index=False)
usb_data.to_sql(name='usb_data', con=engine, if_exists = 'replace', index=False)
ibkr_data.to_sql(name='ibkr_data', con=engine, if_exists = 'replace', index=False)
axp_data.to_sql(name='axp_data', con=engine, if_exists = 'replace', index=False)
tech_data.to_sql(name='tech_data', con=engine, if_exists = 'replace', index=False)
spx_data.to_sql(name='spx_data', con=engine, if_exists = 'replace', index=False)
dow_data.to_sql(name='dow_data', con=engine, if_exists = 'replace', index=False)
nasdaq_data.to_sql(name='nasdaq_data', con=engine, if_exists = 'replace', index=False)
vix_data.to_sql(name='vix_data', con=engine, if_exists = 'replace', index=False)

In [49]:
pd.read_sql_query('select * from nasdaq_data', con=engine).tail()

,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
1258,2019-07-12,^IXIC,8245.660156,8201.519531,8209.200195,8244.139648,1824870000,8244.139648,NASDAQ
1259,2019-07-15,^IXIC,8264.780273,8236.269531,8263.179688,8258.190430,1783980000,8258.190430,NASDAQ
1260,2019-07-16,^IXIC,8259.750000,8204.230469,8251.660156,8222.799805,1933960000,8222.799805,NASDAQ
1261,2019-07-17,^IXIC,8230.669922,8184.660156,8224.000000,8185.209961,1846960000,8185.209961,NASDAQ
1262,2019-07-18,^IXIC,8215.583984,8135.122559,8151.763184,8207.242188,1802588652,8207.242188,NASDAQ

In [50]:
pd.read_sql_query('select * from cfg_data', con=engine).tail()

,Date,Symbols,High,Low,Open,Close,Volume,Adj Close,Company_name
1207,2019-07-12,cfg,35.880001,35.220001,35.520000,35.750000,4562000.0,35.750000,Citizens Financial Group
1208,2019-07-15,cfg,35.669998,34.955002,35.669998,35.080002,4817900.0,35.080002,Citizens Financial Group
1209,2019-07-16,cfg,35.240002,34.700001,35.169998,34.939999,5662400.0,34.939999,Citizens Financial Group
1210,2019-07-17,cfg,34.855000,34.330002,34.770000,34.349998,3715800.0,34.349998,Citizens Financial Group
1211,2019-07-18,cfg,34.919998,34.310001,34.580002,34.619999,6475222.0,34.619999,Citizens Financial Group

In [ ]:
#image table
#full dataframe has array of images in the cells. Need to explode array into multiple rows for SQL load

In [ ]:
images_table=full[['Symbols', 'Company_name', 'images']]